*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: green;
}

section#loginSection {background: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 30px;border-radius: 5px;font-family: sans-serif;width: 90vw;max-width: 500px;}

.login_box h2 {font-size: 24px;margin-bottom: 20px;}

.form-group {display: flex;flex-direction: column;gap: 10px;margin-bottom: 20px;}

.form-control {padding: 10px;width: 100%;font-size: 16px;border: 1px solid green;outline: none;border-radius: 2px;text-align: center;}

button {width: 100%;border: none;background: green;color: #fff;padding: 10px;font-size: 16px;border-radius: 2px;margin-bottom: 20px;cursor: pointer;}